#header-button-cta-button {
  display: none;
}

.homepage-blocks {
  padding: 0.5em;
}

.block-banner__container.cta {
  flex-direction: column;
  gap: 1em;

  .cta-block {
    width: 100%;
    box-sizing: border-box;
  }
}

.block-banner.hero .avatar {
  width: 65px;
  height: 65px;
}

.block-banner.hero h2 {
  line-height: 1.5em;
  font-size: 2.5em;
}

.block-banner.text {
  padding: 1em;
}

.block-banner.image {
  margin-top: 2em;
}

.block-banner__container.image {
  img {
    display: none;
  }

  .block-banner__message.image {
    font-size: 1.6em;
  }
}