@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

.sidebar-section-link-wrapper .sidebar-section-link.active,
.sidebar-section-link-wrapper .sidebar-section-link:focus,
.sidebar-section-link-wrapper .sidebar-section-link:hover {
  background: linear-gradient(to right, transparent 99%, var(--d-sidebar-highlight-color) 0);
}

.homepage-blocks {
  margin-bottom: 2em;
}

.btn:not(.btn-primary):not(.cta-button):not(.composer-controls .btn):not(.btn-social) {
  background: unset !important;
  color: var(--primary-high) !important;

  .d-icon {
    color: var(--primary-high) !important;
  }
}

.d-header-mode {
  display: none;
}

.header-sidebar-toggle button .d-icon,
.d-header-icons .d-icon {
  font-size: var(--font-up-3);
}

tbody {
  border-top: none;
}

.topic-list {
  th.posts,
  td.posts {
    display: none;
  }
}

.footer-message {
  display: none !important;
}

.powered-by-discourse {
  display: none !important;
}

.topic-map {
  display: none !important;
}

.badge-category__wrapper .badge-category:before {
  background: var(--primary-medium);
}

#sidebar-section-content-categories {
  .sidebar-section-link-wrapper .sidebar-section-link-prefix .prefix-span {
    background: var(--primary-medium) !important;
  }

  [data-list-item-name="all-categories"] {
    display: none;
  }
}

.category-breadcrumb {
  display: none;
}

#collapsed-info-panel {
  display: none;
}

.user-main .about .details {
  padding-bottom: 1em;
}

.user-menu.revamped .tabs-list .btn {
  .d-icon {
    color: var(--primary-medium) !important;
  }

  &.active .d-icon {
    color: var(--primary-high) !important;
  }
}

.block-banner-video-container {
  border: 1px solid var(--primary);
  width: 640px;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .d-icon {
    font-size: 2em;
    color: var(--primary);
  }

  iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.block-banner.hero {
  .hero-avatar {
    margin-right: 0.5em;
  }

  .avatar {
    width: 70px;
    height: 70px;
    border: 2px solid var(--primary);
  }

  h2 {
    font-size: 3em;
    font-weight: 400;
    line-height: 1.7em;

    a {
      margin-left: .15em;
    }
  }
}

.discourse-link {
  img {
    height: 65px;
    margin-bottom: 14px;
  }
}

.block-banner.cta {
  margin-top: 1em;
}

.block-banner__container.cta {
  display: flex;
  align-items: center;
  gap: 3em;

  .cta-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border: 2px solid var(--primary);
    padding: 1em;
    width: 250px;
    height: 120px;
    color: var(--primary);

    .d-icon {
      font-size: 2.2em;
    }

    .cta-block-text {
      font-size: 1.8em;
      font-weight: 800;
    }

    &.cta-1 {
      box-shadow: -8px 8px #e87237;
    }

    &.cta-2 {
      box-shadow: -8px 8px #e9e95a;
    }

    &.cta-3 {
      box-shadow: -8px 8px #4d80ce;
    }
  }
}

.block-banner.text {
  margin-top: 3em;
  background: var(--primary-100);
  padding: 2em 3em;
  max-width: 950px;
  box-sizing: border-box;
}

.block-banner__container.text h2 {
  font-size: 2.3em;
  font-weight: 400;
  line-height: 1.5em;
}

.pavilion-link {
  color: #362bde !important;
}

body.home-blocks-hero {
  #message-button {
    display: none;
  }
}

.block-banner.image {
  margin-top: 3em;
}

.block-banner__container.image {

  .block-banner__message.image {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 1em;
  }

  a {
    color: var(--primary);
  }
}

.discourse-logo img {
  height: 60px;
  margin-bottom: 13px;
}

body:not(.staff) {
  .navigation-container {
    display: none;
  }

  .sidebar-custom-sections {
    display: none;
  }

  .sidebar-footer-actions-button.add-section {
    display: none;
  }
}